<div class="modal fade" id="galleryModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0">
                <div class="gallery-modal-content">
                    <img id="modalImage" src="" alt="" class="img-fluid w-100">
                    <div class="modal-navigation">
                        <button class="nav-btn prev-btn" id="prevBtn">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                        <button class="nav-btn next-btn" id="nextBtn">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                    <div class="modal-info">
                        <h4 id="modalImageTitle"></h4>
                        <p id="modalImageDescription"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
